body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7ff, #ffe7f5);
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.greeting {
  color: #8984ed;
  font-size: 28px;
  font-weight: bold;
}
.subtitle {
  color: #797878;
  font-size: 22px;
  margin-bottom: 40px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 250px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #6862da;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.classList {
  margin-top: 25px;
}
#classList div {
  background: #f5f7ff;
  border-left: 6px solid #6862da;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

#classList strong {
  font-size: 20px;
  color: #6862da;
}
.deleteButton {
  background: #ff6b81;
  width: auto;
  padding: 8px 15px;
  margin-top: 10px;
  font-size: 14px;
}

.deleteButton:hover {
  background: #e63956;
}
